/.idea/
/source/
/dataset/
/event/
/test/
/pytorch/example/__pycache__/
/pytorch/network/__pycache__/
/pytorch/util/__pycache__/
/pytorch/__pycache__/
/utils/__pycache__/
/tf/util/__pycache__/
/tf/network/__pycache__/
/tf/__pycache__/
/train.log
/last.h5